@import "tailwindcss";

/* Define custom font-face for Nunito */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.woff2') format('woff2');
}

/* Variable font for italic text */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.woff2') format('woff2');
} 



/* Apply Nunito font directly to the html element */
html {
  font-family: 'Nunito', sans-serif;
}

.faq-answer a {
  @apply text-blue-500 underline;
}
/* index page */

@theme {
  --color-orange1: #FFA500; 
  --color-black1: #111111;
  --color-black2: #393C44;
  --color-backgray: #FBFDFF;
}

@layer components {

    pre.highlight, figure.highlight pre {
        @apply bg-gray-100 dark:bg-gray-800;
      @apply p-6;
    }

    .hll {
      background-color: #fffae6;
      border-left: 4px solid #ffd33d;
      display: block;
      padding-left: 8px;
  }

}