@import "tailwindcss";

/* Define custom font-face for Nunito */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.woff2') format('woff2');
}

/* Variable font for italic text */
@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/assets/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.woff2') format('woff2');
} 



/* Apply Nunito font directly to the html element */
html {
  font-family: 'Nunito', sans-serif;
}


/* index page */

@theme {
  --color-orange1: #FFA500; 
  --color-black1: #111111;
  --color-black2: #393C44;
}

@layer components {
  .hero {
    background-color: var(--color-orange1);
  }


}